---
author_profile: true
title: "<span style='color:black; font-weight:bold;'>TRAIL</span>" #  ![](assets/images/foto_mia2.svg)
layout: splash

permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#FFFFFF"
  overlay_filter: "0.0"
  overlay_image: /assets/images/mader_header_white.png
  #actions:
  #  - label: "Download"
  #    url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "<span style='color:black; font-weight:bold;'>Trustworthy Robotics <br/> and AI Lab</span> <br/> 
<span style='color:black;'>Prof. Jesus Tordesillas</span> <br/> 
<span style='color:black;'>Comillas-ICAI</span><br/>    <br/>"





announcement:
  - excerpt: "<div class='notice--danger' style='font-weight: bold; font-size: 1.0em !important; color: red;'>Our research group is constantly looking for top PhD and Postdoc students. 
    If you are interested in joining us, send an email to <a href='mailto:jtordesillas@comillas.edu'>jtordesillas@comillas.edu</a></div> "

researchinterests:
- excerpt: "<div class='notice--success' style='font-weight: bold; font-size: 1.0em !important; color: rgb(0, 0, 0);'>
 Research directions: <ul>
 <li>Learning-based trajectory planning</li>
<li>Imposition of Constraints on Neural Networks</li>
<li>Optimization-based trajectory planning</li>
</ul>
</div>"


---
{% include feature_row id="announcement" type="justified" %}
{% include feature_row id="mylinks" type="justified" %}
{% include feature_row id="publicationstitle" type="justified" %}
{% include feature_row id="publications" %}


